.klick-notify {
  position: fixed;
  z-index: 10000;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 20px 0;

  background: rgba(0, 0, 0, .7);

  transition: transform .3s ease-in-out;
  transform: translate3d(0, 100%, 0);

  &.is-visible {
    transform: translate3d(0, 0, 0);
  }

  &.success {
    background-color: rgba(64, 174, 51, 0.7);

    .klick-notify-message::before {
      content: "\f058";
    }
  }

  &.warning {
    background-color: rgba(200, 203, 58, 0.7);

    klick-notify-message::before {
      content: "\f071";
    }
  }

  &.error {
    background-color: rgba(184, 89, 89, 0.7);

    .klickart-notify-message::before {
      content: "\f057";
    }
  }
}

.klick-notify-container {
  margin: 0 auto;
  max-width: 1000px;
}

.klick-notify-message {
  font-weight: bold;
  color: #fff;

  &::before {
    display: inline-block;
    margin-right: 15px;

    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    content: " ";

    transform: translate(0, 0);
  }
}

.klick-notify-close {
  float: right;

  color: #fff;

  transition: transform .3s ease-in-out;

  &:hover,
  &:focus {
    outline: none;

    color: #fff;

    transform: rotateX(180deg);
  }
}
